@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  padding: 40px 0;
}

.row {
  padding: 0 20px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.nav__link--hover {
  position: relative;
}

.nav__link--hover:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: #EEC584;
  transition: all 300ms ease;
}

.nav__link--hover:hover:after {
  left: 0;
  width: 100%;
}

/* HEADER */

header {
  background: url(https://images2.alphacoders.com/740/thumb-1920-740460.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  filter: blur(75px);
  z-index: 1;
}

/* NAV */

nav {
  position: relative;
  z-index: 2;
}

.nav__container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo {
  height: 50px;
  width: 100px;
}

.nav__links {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  color: #eec584;
  font-weight: bold;
  font-size: 16px;
}

.nav__btn {
  padding: 16px 48px;
  border: none;
  border-radius: 24px;
  background-color: #b9d6f2;
  color: #363732;
  font-weight: bold;
  font-size: 16px;
  transition: all 300ms ease;
}

.nav__btn:hover {
  background-color: #8ebdea;
  transform: scale(1.08);
}

/* LANDING PAGE */

#landing {
  position: relative;
  z-index: 2;
}

.landing__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar__title {
  padding: 24px 0;
  font-size: 48px;
  color: #eec584;
}

.search__form {
  text-align: center;
}

.search__area {
  position: relative;
  padding-left: 12px;
  border: 2px solid #363732;
  border-radius: 24px;
  height: 60px;
  width: 600px;
  font-size: 24px;
  z-index: 5;
}

.search__btn {
  position: absolute;
  right: 475px;
  top: 154px;
  border: none;
  background-color: transparent;
  color: #363732;
  font-size: 30px;
  z-index: 10;
  transition: all 300ms ease;
}

.search__btn:hover {
  color: #eec584;
  transform: scale(1.08);
}

/* REMOVING THE AUTOMATIC X 
Source - https://stackoverflow.com/a/57012028
*/

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* FILTER */

.search__filter--title {
  padding-bottom: 8px;
}

#filter {
  border: 2px solid #C8AB83;
  color:#363732;
  background-color: #62BEC1;
  cursor: pointer;
}

/* SEARCH INTERACTIVES */

.anime__selection--container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.anime__selection--row {
  width: 100%;
}

.interactives {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0;
}

/* ANIME DISPLAY */

#anime__selection {
  background-color: #C8AB83;
}

.anime__display {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 100%;
}

.anime__cover {
  width: 125px;
  height: 200px;
  padding: 8px;
}

.show__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show__detail {
  padding: 8px 0;
  color:#363732;
}

.watch__btn {
  padding: 8px 0;
  width: 136.31px;
  text-align: center;
  border: none;
  border-radius: 24px;
  font-weight: bold;
  color: #363732;
  background-color: #62BEC1;
  transition: all 300ms ease;
}

.watch__btn:hover {
  background-color: #8ebdea;
  transform: scale(1.08);
  cursor: not-allowed;
}

.show__synopsis {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
}